<main>
  <div class="profile-card">
    <div class="profile-pic">
      <img src="../../assets/Profile-pics/KetkiImage.jpg" />
    </div>
    <div class="hello">
      <p>🙏 Hello 🙏</p>
    </div>
    <div class="profile-description">
      <div class="profile-main">
        <p>I am Ketki</p>
        <p>
          I am good at developing Full-Stack applications using following
          technologies.
        </p>
      </div>
      <div class="profile-technologies-images">
        <img
          class="react-image"
          src="../../assets/Profile-pics/React-icon.svg.png"
        />
        <img
          class="common-image"
          src="../../assets/Profile-pics/spring-boot.png"
        />
        <img class="java-image" src="../../assets/Profile-pics/Java-logo.png" />
        <img
          class="common-image"
          src="../../assets/Profile-pics/javascript.png"
        />
        <img
          class="common-image"
          src="../../assets/Profile-pics/sassIcon.svg"
        />
        <img
          class="common-image"
          src="../../assets/Profile-pics/angular-icon.svg"
        />
        <img
          class="common-image"
          src="../../assets/Profile-pics/dot-net-core.svg"
        />
        <img
          class="common-image"
          src="../../assets/Profile-pics/Csharp_Logo.png"
        />
        <img class="java-image" src="../../assets/Profile-pics/sql-logo.png" />
      </div>
    </div>
  </div>
</main>
