<div class="footer-area">
    <div class="footer-wrapper">
        <div class="footer-icons">
            <a href="https://github.com/ketkibhuyar" target="_blank">
                <img class="common-footer-icons" src="../../assets/Footer-pics/github.png">
            </a>
            <a href="https://www.linkedin.com/in/ketki-bhuyar-b14169177/" target="_blank">
                <img class="common-footer-icons" src="../../assets/Footer-pics/linkedin.png">
            </a>
        </div>
        <div class="footer-made-with">
            Created using Angular 💖
        </div>
        <div>
            <button (click)="openResume()" class="footer-resume-button">Resume</button>
        </div>
    </div>
</div>